/* /////////////////////////////////////////////////////////// RESET ///////////////////////////////////////////////////////////////*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	border:0px;
	font-weight: 500;
	font-size:100%;
	outline:none;
	font-family: 'Lato', sans-serif;
}

body{
	background-color: white;
	border:none;
	padding: 0;
	margin:0;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width:100%;
}

h1{
	padding:0;
	margin: 0;
}

.whatsapp-button{
	position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
    margin-bottom: 25px;
    margin-right: 25px;
    color: white;
    font-size: 3em;
    background-color: #10b018;
    border-radius: 25px;
    padding: 0px 15px;
    cursor: pointer;
}

.whatsapp-button a{
	text-decoration: none;
    color: white;
}

.whatsapp-button a:hover{
	text-decoration: none;
    color: white;
}



/* /////////////////////////////////////////////////////////// END RESET /////////////////////////////////////////////////////////////*/

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    background-color: rgb(0,0,0,0.6);
}

@media screen and (max-width: 660px){
	.menu-background{
		background-position: center !important;
	}
}

@media screen and (max-width: 395px){
	.logo{
		width: 70%;
	}

	.email-contato{
		font-size: 5vw;
	}

	.h2-boards-know-section{
		font-size: 1.7rem;
	}

	.whatsapp-button {
		margin-bottom: 5px;
		margin-right: 5px;
		font-size: 2em;
		padding: 0px 10px;
	}
}