*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	border:0px;
	font-weight: 500;
	font-size:100%;
	outline:none;
	font-family: 'Lato', sans-serif;
}

body{
	background-color: white;
	border:none;
	padding: 0;
	margin:0;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width:100%;
}

h1{
	padding:0;
	margin: 0;
}

/* / ---------------------------------------------------------------------------------------------------------------------------------------------------------------- /*/

/* /////////////////////////////////////////////////////////// COMEÇO CABECALHO ///////////////////////////////////////////////////////////////*/
.cabecalho{
	width:100%;
	height:90px;
	padding:0px 9%;
	float: left;
	background-color:rgba(0,0,0,0.7);
	position: fixed;
	z-index: 2;
}

.cabecalho .logo{
	font-size: 0px;
	float: left;
	width: 290px;
	height: 80px;
	margin-top:5px;
	background: url('../../imgs/logo-site2.png')no-repeat;
	background-size: contain;
}

li .actual-active{
	color:#31769F!important;
	margin-left: 5px;
	border-bottom:1px solid #31769F;
}

.actual-active:hover{
	border-bottom:1px solid #31769F!important;
}

.menu{
	float: right;
	font-size: 1.2em;
	margin-top: 30px;
}

.menu ul li{
	margin-right:10px;
	float: left;
	display: inline;
}

.menu li:last-child{
	margin-right:0px;
}

.menu li a{
	color:white;
}

.menu li a:hover{
	border-bottom:1px solid white;
}

.menu li i{
	color:white;
	margin-left: 5px;
}

/* / ------------------------------------------------------- COMEÇO FORMATAÇÃO MENU MOBILE ------------------------------------------------------------------------------ /*/

.btn-menu-mobile{
	border-radius:50px;
	width: 50px;
	height:50px;
	font-size: 1.4em;
	cursor:pointer;
	background-color:#31769F;
	color:white;
	float: right;
	display: none;
	margin-top: 18px;
}

.btn-close-menu-mobile{
	border-radius:50px;
	width: 50px;
	height:50px;
	font-size: 1.4em;
	cursor:pointer;
	background-color:#31769F;
	color:white;
	float: right;
	display: none;
	margin-top: 18px;
}

.menu-mobile{
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1;
	padding-top: 10%;
	display: none;
}

.menu-mobile ul{
	margin-top: 0%;
}

.menu-mobile ul li{
	margin-bottom:10px;
	font-size:1.5em;
	height:auto;
}

.menu-mobile li:last-child{
	margin-bottom:0px;
}

.menu-mobile li a{
	color:white;
}

.menu-mobile li a:hover{
	border-bottom:1px solid white;
}

.menu-mobile li i{
	color:white;
	margin-left: 5px;
}

.menu-mobile .submenu-mobile ul li{
	margin-bottom:25px;
	font-size:1.5em;
	height:auto;
}

.menu-mobile .submenu-mobile-evidence{
	width: 30%;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: block;
	border-radius:2px;
	margin-left: 35%;
	border-radius:10px;
	display: none;
	padding-top: 20px;
	font-size:20px;
}

.menu-mobile .submenu-mobile-pranchas{
	width: 30%;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: block;
	border-radius:2px;
	margin-left: 35%;
	border-radius:10px;
	display: none;
	padding-top: 20px;
	font-size:20px;
}

.menu-mobile .submenu-mobile-servicos{
	width: 30%;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: block;
	border-radius:2px;
	margin-left: 35%;
	border-radius:10px;
	display: none;
	padding-top: 10px;
	font-size:20px;
}

.menu-mobile .submenu-mobile-produtos{
	width: 30%;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: block;
	border-radius:2px;
	margin-left: 35%;
	border-radius:10px;
	display: none;
	padding-top: 10px;
	font-size:20px;
}

/* / ---------------------------------------------------------------------------------------------------------------------------------------------------------------- /*/

/* /////////////////////////////////////////////////////////// COMEÇO DROPDOWNS - MENU ///////////////////////////////////////////////////////////////*/

/* /////////////////////////////////////////////////////////// COMEÇO DROPDOWN - EVIDENCE ///////////////////////////////////////////////////////////////*/
.evidence .submenu-evidence{
	float: left;
	position: absolute;
	margin-top: 2px;
	margin-left: 0px;
	width: 150px;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	border-radius:2px;
}

.submenu-evidence li{
	list-style:none;
	display: block;
	margin: 5px;
	padding-bottom: 10px;
}

.submenu-evidence li a{
	color: white;
}

.submenu-evidence li a:hover{
	border-bottom: 1px solid white;
}

/* /////////////////////////////////////////////////////////// COMEÇO DROPDOWN - PRANCHAS ///////////////////////////////////////////////////////////////*/
.pranchas .submenu-pranchas{
	float: left;
	position: absolute;
	margin-top: 2px;
	margin-left: 0px;
	width: 150px;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	border-radius:2px;
}

.submenu-pranchas li{
	list-style:none;
	display: none;
	margin: 5px;
	padding-bottom: 10px;

}

.submenu-pranchas li a{
	color: white;
}

.submenu-pranchas li a:hover{
	border-bottom: 1px solid white;
}

/* /////////////////////////////////////////////////////////// COMEÇO DROPDOWN - PRANCHAS ///////////////////////////////////////////////////////////////*/
.servico .submenu-servico{
	float: left;
	position: absolute;
	margin-top: 2px;
	margin-left: 0px;
	width: 150px;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	border-radius:2px;
}

.submenu-servico li{
	list-style:none;
	display: none;
	margin: 5px;
	padding-bottom: 10px;

}

.submenu-servico li a{
	color: white;
}

.submenu-servico li a:hover{
	border-bottom: 1px solid white;
}

/* /////////////////////////////////////////////////////////// COMEÇO DROPDOWN - PRODUTOS ///////////////////////////////////////////////////////////////*/
.produtos .submenu-produtos{
	float: left;
	position: absolute;
	margin-top: 2px;
	margin-left: 0px;
	width: 150px;
	height:0px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	border-radius:2px;
}

.submenu-produtos li{
	list-style:none;
	display: none;
	margin: 5px;
	padding-bottom: 10px;

}

.submenu-produtos li a{
	color: white;
}

.submenu-produtos li a:hover{
	border-bottom: 1px solid white;
}

/* /////////////////////////////////////////////////////////// COMEÇO MAIN ///////////////////////////////////////////////////////////////*/

.menu-background{
	background: url('../../imgs/img-slider/surf-01.jpg')center/100% 460px;
	width: 100%;
	height:200px;
}

.main{
	width: 100%;
	
}

.container-aevidence{
	width: 100%;
	text-align: justify;
	padding: 1% 9% 2% 9%;
}

.container-aevidence h2{
	font-size: 2em;
	color:#5C5C5C;
	margin-bottom: 10px;
}

.container-imgs{
	width: 100%;
	padding: 0% 9% 0% 9%;
}

.container-imgs h5{
	width: auto;
	margin:0;
	padding: 0;
	font-size: 1.7em;
	color:#5C5C5C;
}

.container-imgs img{
	width: 24%;
	height: 260px;
	margin-left: 10px;
}

.container-imgs img:first-child{
	margin-left: 0px;
}

.container-imgs img:last-child{
	margin-top: 10px;
}
/* / ---------------------------------------------------------------------------------------------------------------------------------------------------------------- /*/
/* /////////////////////////////////////////////////////////// COMEÇO CONTATO //////////////////////////////////////*/
.container-contato{
	width: 100%;
	background-color: #31769F;
	padding:14px 9%;
	color:white;
	float:left;
	margin-top: 56px;
}

.container-contato ul li{
	margin-bottom:5px;
	width: auto;
	height:auto;
}

.container-contato h3{
	margin-bottom:10px;
	font-weight: bold;
}

/* /////////////////////////////////////////////////////////// COMEÇO RODAPE //////////////////////////////////////*/
.container-rodape{
	width: 100%;
	padding:14px 9%;
	background-color: grey;
	color:white;
	float: left;
}

.container-rodape p {
	float: left;
	text-align: justify;
	width: 80%;
}

.container-rodape h3 {
	float: right;
	margin-right: 60px;
}

.container-rodape ul {
	float: right;
	font-size:2em;
	margin-top: 5px;
	margin-right: 20px;
	clear: right;
}

.container-rodape ul li{
	display: inline;
	margin-right:15px; 
}

.container-rodape ul li:last-child{
	margin-right:0px; 
}

.container-rodape i{
	color:white;
}

.container-rodape i:hover{
	color:#31769F;
}

/* /////////////////////////////////////////////////////////// COMEÇO MEDIA QUERIES //////////////////////////////////////*/


@media screen and (max-width: 1366px){
	.cabecalho {
		padding: 0px 4%;
	}

	.container-aevidence {
	    padding: 1% 4% 2% 4%;
	}

	.container-imgs {
	    padding: 0% 4% 1% 4%;
	}

	.container-contato {
	    padding: 14px 4%;
	}

	.container-rodape {
	    padding: 14px 4%;
	}
}

@media screen and (max-width: 1283px){

	.container-imgs img {
	    width: 45%;
	    height: 100%;
	    margin:10px;
	}

	.container-imgs img:first-child {
	    margin-left: 45px;
	}

	.container-imgs img:last-child {
	    margin-top: 0px;
	}

	.container-imgs img:nth-child(3) {
	    margin-top: 0px;
	    margin-left:45px;
	}

}


@media screen and (max-width: 1100px){ 
	.menu {
	    float: right;
	    font-size: 1.1em;
	    margin-top: 30px;
	}
}

@media screen and (max-width: 1044px){

	.container-imgs img {
	    width: 48%;
	    height: 100%;
	    margin:5px;
	}

	.container-imgs img:first-child {
	    margin-left: 0px;
	}

	.container-imgs img:last-child {
	    margin-top: 0px;
	}

	.container-imgs img:nth-child(3) {
	    margin-top: 0px;
	    margin-left:0px;
	}

}

@media screen and (max-width: 1024px){
	.cabecalho{
		padding:0px 4%;
	}

	.container-aevidence{
		width: 100%;
		text-align: justify;
		padding: 1% 4% 2% 4%;
	}

	.container-imgs{
		width: 100%;
		padding: 0% 4% 1% 4%;
	}

	.container-contato{
		padding:14px 4%;
	}

	.container-rodape{
		width: 100%;
		padding:14px 4%;
		background-color: grey;
		color:white;
		float: left;
	}

	.container-rodape p {
		float: left;
		text-align: justify;
		width: 60%;
	}

	
	.container-rodape{
		padding:14px 4%;
	}	

}

@media screen and (max-width: 850px){

	.menu-mobile{
		padding-top: 13%;
		overflow: auto;
		padding-bottom: 5%;
	}

	.menu-mobile ul{
		margin-top: 7%;
	}

	.menu-mobile .submenu-mobile-evidence{
		padding-top: 5px;
		font-size:20px;
	}

	.menu-mobile .submenu-mobile-pranchas{
		padding-top: 5px;
		font-size:20px;
	}

	.menu-mobile .submenu-mobile-servicos{
		padding-top: 5px;
		font-size:20px;
	}

	.menu-mobile .submenu-mobile-produtos{
		padding-top: 5px;
		font-size:20px;
	}

	.container-rodape p {
		float: left;
		text-align: justify;
		width: 50%;
	}
}

@media screen and (max-width: 750px){

	.menu-mobile ul{
		margin-top: 1%;
	}

	.menu{
		display: none;
	}

	.btn-close-menu-mobile{
		display: none;
	}

	.menu-mobile{
		display: none; 
	}

	.btn-menu-mobile{
		display: block !important;
	}

	.menu-mobile .submenu-mobile-evidence{
		padding-top: 10px;
		font-size:17px;
	}

	.menu-mobile .submenu-mobile-pranchas{
		padding-top: 10px;
		font-size:17px;
	}

	.menu-mobile .submenu-mobile-servicos{
		padding-top: 10px;
		font-size:17px;
	}

	.menu-mobile .submenu-mobile-produtos{
		padding-top: 10px;
		font-size:17px;
	}

	.container-imgs img{
		width: 100%;
		margin-left: 0%;
		margin-top: 0px;
	}

	.container-imgs img:first-child{
		margin-left: 0%;
	}

	.container-imgs img:last-child{
		margin-top: 00px;
	}
}

@media screen and (max-width: 650px){
	
	.menu-mobile ul{
		margin-top: 7%;
	}	

	.menu-mobile .submenu-mobile-evidence{
		padding-top: 13px;
		font-size:16px;
	}

	.menu-mobile .submenu-mobile-pranchas{
		padding-top: 10px;
		font-size:17px;
	}

	.menu-mobile .submenu-mobile-servicos{
		padding-top: 10px;
		font-size:17px;
	}

	.menu-mobile .submenu-mobile-produtos{
		padding-top: 10px;
		font-size:17px;
	}
}

@media screen and (max-width: 500px){

	.menu-mobile ul{
		margin-top: 12%;
	}

	.menu-mobile .submenu-mobile-evidence{
		padding-top: 5px;
		font-size:14px;
	}

	.menu-mobile .submenu-mobile-pranchas{
		padding-top: 5px;
		font-size:14px;
	}

	.menu-mobile .submenu-mobile-servicos{
		padding-top: 5px;
		font-size:14px;
	}

	.menu-mobile .submenu-mobile-produtos{
		padding-top: 5px;
		font-size:14px;
	}

	.container-imgs{
		margin-top: 5px;
	}
}

@media screen and (max-width: 450px){

	.menu-mobile ul{
		margin-top: 15%;
	} 

	.container-rodape{
		padding:10px 4%;
		height: 210px;
		top:490px;
	}

}

@media screen and (max-width: 400px){

	.cabecalho .logo{
		width: 239px;
	}
	
	.container-rodape{
		padding:10px 4%;
		height: 210px;
		top:490px;
	}
	.container-rodape p {
		float: left;
		text-align: justify;
		width: 100%;
		margin-bottom: 10px;
	}

	.container-rodape h3 {
		float: left;
		margin-right: 40px;
	}

	.container-rodape ul {
		float: left;
		font-size:2em;
		margin-top: 5px;
		clear: both;
	}
}

@media screen and (max-width: 350px){

	.cabecalho .logo{
		width: 229px;
		margin-top:13px;
	}
 
	.container-rodape p {
		float: left;
		text-align: justify;
		width: 100%;
		margin-bottom: 10px;
	}

	.container-rodape h3 {
		float: left;
		margin-right: 40px;
	}

	.container-rodape ul {
		float: left;
		font-size:2em;
		margin-top: 5px;
		clear: both;
	}
}

@media screen and (max-width: 330px){

	.cabecalho .logo{
		width: 209px;
		margin-top:15px;
	}
 
	.container-rodape{
		padding:10px 4%;
		height: 230px;
		top:490px;
	}

	.container-rodape p {
		float: left;
		text-align: justify;
		width: 100%;
		margin-bottom: 10px;
	}

	.container-rodape h3 {
		float: left;
		margin-right: 40px;
	}

	.container-rodape ul {
		float: left;
		font-size:2em;
		margin-top: 5px;
		clear: both;
	}